// Vertical spacing

$section-spacing: 3rem;

.section {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
}

    .section--stacked {
        & + & {
            padding-top: 0;
        }
    }

    .section--no-top {
        padding-top: 0;
    }

    .section--no-bottom {
        padding-bottom: 0;
    }


/* SG
# Components/Sections

Sections control the vertical spacing

```

<h5>1. section--stacked</h5>
<h5>2. section--no-top</h5>
<h5>3. section--no-bottom</h5>


```
*/