// -----------------------------------------------------------------------------
// Page content
// -----------------------------------------------------------------------------


// Main content max width?
.site-width {
    max-width: $breakpoint-xlarge;
}

// Vertical spacing
//todo spacing param ?? this was $$base-padding

$section-spacing: 3rem;

.section {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
}

    .section--stacked {
        & + & {
            padding-top: 0;
        }
    }

    .section--no-top {
        padding-top: 0;
    }

    .section--no-bottom {
        padding-bottom: 0;
    }


// TODO we have object.wrappers and components.page.content
// Which one do we want to use for layout + spacing and why?
.page-content {
    padding-top: $base-padding;
    padding-bottom: $base-padding;

    & + & {
        padding-top: 0;
    }
}

    .page-content--no-top {
        padding-top: 0;
        padding-bottom: 0;
    }
