<!doctype html>
<!--[if IE 8]> <html class="ie8 no-js" lang="en"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
    <!-- Made by Springload -->
    <meta charset="utf-8">
    <title>{{ site.name }} - {{ meta.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "core/includes/favicons.html" %}

    <link rel="stylesheet" href="{{ site.paths.css }}/styles.css?{{ extensions.cachebuster }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script> 
    $(function(){
      $("#styleguide-app").load("/styleguide/styleguide.html"); 
    });
    </script> 
</head>
<body style='background-color:#fff; height:100%'>
    {% block svgs %}
        <div style="display: none;">
            {% include "core/includes/svg.html" %}
        </div>
    {% endblock %}
        <!--padding header and footer section or seperate padding-->
        {% include '_partials/header.html' %}
    
        <!--<h1>
            {{ meta.title }}
        </h1>-->

       
        {% block content %}{% endblock %}
     

        {% include '_partials/footer.html' %}
   

    <script>
    </script>
    <script async src="{{ site.paths.js }}/site.js?{{ extensions.cachebuster }}"></script>

    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXXXX-X','auto');
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('send','pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
</body>
</html>
